.cobrowsing-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen-container {
  position: relative; /* Contenedor de referencia para el cursor */
  max-height: 80vh; /* O el tamaño que necesites */
  max-width: 90vw;
  overflow: hidden;
  border: 1px solid #ccc;
  background: #f0f0f0;
}

.cobrowsing-iframe {
  width: 100%;
  height: 100%;
  border: none;
  /* La escala se aplica desde el TS, pero es bueno tenerlo en cuenta */
  transform-origin: 0 0;
}

.loading-container {
  text-align: center;
}

.client-cursor {
  position: absolute;
  z-index: 9999;
  pointer-events: none; /* Para que no interfiera con los clics del agente */
  transition: top 0.05s linear, left 0.05s linear; /* Movimiento más suave */

  .cursor-icon {
    // Estilos para el icono del cursor si es necesario
  }

  .cursor-name {
    background-color: red;
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    white-space: nowrap;
  }
}

/* Estilos para la onda del clic */
.click-ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.7); /* Color de la onda (rojo) */
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  animation: ripple-effect 0.5s linear;
  pointer-events: none;
  z-index: 10000;
}

@keyframes ripple-effect {
  from {
    width: 0;
    height: 0;
    opacity: 1;
  }
  to {
    width: 40px; /* Tamaño final de la onda */
    height: 40px;
    opacity: 0;
  }
}
