.cobrowsing-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cobrowsing-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.loading-container {
  text-align: center;
}
