$max-width: 71.25rem;
$spacing-unit: 0.375rem;

// Size
$width-xs: 0.125rem;
$width: 1.25rem;
$width-lg: 2rem;
$width-l: 2.25rem;
$width-xl: 2.75rem;
$height-xs: 0.125rem;
$height: 1.25rem;
$height-lg: 2rem;
$height-l: 2.25rem;
$height-xl: 2.75rem;


// Spacing
$spacing-xs: $spacing-unit;
$spacing-md: $spacing-unit * 2;
$spacing-lg: $spacing-unit * 3;
$spacing-xl: $spacing-unit * 4;

$padding-side: 0.5rem;
$padding-side-lg: 1.25rem;
$padding-side-l: 1.75rem;

$margin-side: 0.5rem;
$margin-side-lg: 1.25rem;
$margin-side-l: 1.75rem;
