$primary-color: #6366F1;
$primary-color-light: #A5A6F6;
$secondary-color: #4CAF50;
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey: #E5E7EB;
$color-grey-light: #F9FAFB;
$color-grey-lighter: #F3F4F6;
$color-red-light: #F87171;
