// Placeholder for variables
$white: #fff;
$yellow: #ff0;
$border-radius: 5px;
$color-white: #fff;
$color-grey-light: #f5f5f5;
$color-black: #000;
$color-red-light: #f00;
$primary-color: #007bff;
$secondary-color: #6c757d;
