@use 'variables' as var;

shr-settings {
  .shr-settings {
    .title {
      padding: 6px;
      margin: 12px;
      text-align: center;
      background-color: var.$color-background-a;
    }

    .installation {
      .p-button {
        margin-right: 12px;
      }
    }

    .global-settings {
      .description {
        margin: 12px 0;
        font-size: 1rem;
      }

      .label {
        gap: 3px;
        display: flex;
        align-items: center;
        color: var.$color-text-dark;

        .help-icon {
          padding: 3px;
          font-size: 8px;
          font-weight: bold;
          border-radius: 50%;
          color: var.$color-white;
          background-color: var.$primary-color;
        }

        .switch-container {
          line-height: 1;
          margin-left: 24px;
        }
      }
    }

    .user-info,
    .entity-info {
      .description {
        margin: 12px 0;
        font-size: 1rem;
      }

      .info {
        gap: 12px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 12px;

        .label {
          width: 200px;
        }

        img {
          max-width: 50px;
          max-height: 50px;
        }

        .change-password-test {
          color: var.$info-color;

          &:hover {
            font-family: "Inter SemiBold";
          }
        }
      }

      .button-content {
        display: flex;
        justify-content: flex-end;
      }
    }

    .p-dialog {
      max-width: calc(100vw - 20px);
    }

    .scripts-dialog,
    .script-iframe-dialog {
      width: 680px;

      .code {
        gap: 12px;
        display: flex;
        padding: 12px;
        margin: 12px 0;
        flex-wrap: wrap;
        align-items: center;
        border-radius: 12px;
        justify-content: space-between;
        background-color: var.$color-grey;

        code {
          word-break: break-all;
        }
      }

      .button-content {
        display: flex;
        justify-content: flex-end;
      }
    }

    .scripts-dialog {
      .p-dialog-content {
        .p-tabview {
          .p-tabview-panel {
            .description {
              &.indent {
                margin-left: 12px;
                line-height: 1.3;
              }
            }
          }
        }
      }
    }

    .example-dialog {
      img {
        width: 100%;
        max-width: 800px;
      }
    }
  }
}
