<div class="shr-privacy">
  <div class="topContent">
    <div class="company">
      <img class="miniature" src="../../../assets/images/miniature.svg" />
      <img class="brand-name" src="../../../assets/images/name_black.svg" />
    </div>
  </div>
  <div *ngIf="lan === 'es'" class="textContent">
    <h3>Política de privacidad</h3>
    <h3>Protección de datos de carácter personal según la LOPD</h3>
    <div class="text">VIDIWISE, en aplicación de la normativa vigente en materia de protección de datos de carácter
      personal, informa que los datos personales que se recogen a través de los formularios del sitio web:
      <a class="bold" href="https://app.sideby.com" target="_blank">app.sideby.com</a>, se incluyen en los ficheros
      automatizados específicos de usuarios de los servicios de VIDIWISE.
    </div>
    <div class="text">La recogida y tratamiento automatizado de los datos de carácter personal tiene como finalidad el
      mantenimiento de la relación comercial y el desempeño de tareas de información, formación, asesoramiento y otras
      actividades propias de VIDIWISE.</div>
    <div class="text">Estos datos únicamente serán cedidos a aquellas entidades que sean necesarias con el único
      objetivo de dar cumplimiento a la finalidad anteriormente expuesta.</div>
    <div class="text">VIDIWISE adopta las medidas necesarias para garantizar la seguridad, integridad y confidencialidad
      de los datos conforme a lo dispuesto en el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27
      de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos
      personales y a la libre circulación de los mismos.</div>
    <div class="text">El usuario podrá en cualquier momento ejercitar los derechos de acceso, oposición, rectificación
      y cancelación reconocidos en el citado Reglamento (UE). El ejercicio de estos derechos puede realizarlo el
      propio usuario a través de email a: hello@sideby.com.</div>
    <div class="text">El usuario manifiesta que todos los datos facilitados por él son ciertos y correctos, y se
      compromete a mantenerlos actualizados, comunicando los cambios a VIDIWISE.</div>
    <h3>Finalidad del tratamiento de los datos personales:</h3>
    <h3>¿Con qué finalidad trataremos tus datos personales?</h3>
    <div class="text">VIDIWISE tratará tus datos personales recabados a través del sitio web: <a class="bold"
        href="https://app.sideby.com" target="_blank">app.sideby.com</a>, con las siguientes finalidades:
    </div>
    <ul>
      <li>Envío de información solicitada a través de los formularios dispuestos en <a class="bold"
          href="https://app.sideby.com" target="_blank">app.sideby.com</a>
      </li>
      <li>Remitir boletines (newsletters), así como comunicaciones comerciales de promociones y/o publicidad de
        <a class="bold" href="https://app.sideby.com" target="_blank">app.sideby.com</a>.
      </li>
    </ul>
    <div class="text">Te recordamos que puedes oponerte al envío de comunicaciones comerciales por cualquier vía y en
      cualquier momento, remitiendo un correo electrónico a la dirección indicada anteriormente.</div>
    <div class="text">Los campos de dichos registros son de cumplimentación obligatoria, siendo imposible realizar las
      finalidades expresadas si no se aportan esos datos.</div>
    <h3>¿Por cuánto tiempo se conservan los datos personales recabados?</h3>
    <div class="text">Los datos personales proporcionados se conservarán mientras se mantenga la relación comercial o
      no solicites su supresión y durante el plazo por el cuál pudieran derivarse responsabilidades legales por los
      servicios prestados.</div>
    <h3>Legitimación:</h3>
    <div class="text">El tratamiento de tus datos se realiza con las siguientes bases jurídicas que legitiman el
      mismo:</div>
    <div class="text">La solicitud de información y/o la contratación de los servicios de VIDIWISE, cuyos términos y
      condiciones se pondrán a tu disposición en todo caso, de forma previa a una eventual contratación.</div>
    <div class="text">El consentimiento libre, específico, informado e inequívoco, en tanto que te informamos poniendo
      a tu disposición la presente política de privacidad, que tras la lectura de la misma, en caso de estar conforme,
      puedes aceptar mediante una declaración o una clara acción afirmativa, como el marcado de una casilla dispuesta
      al efecto.</div>
    <div class="text">En caso de que no nos facilites tus datos o lo hagas de forma errónea o incompleta, no podremos
      atender tu solicitud, resultando del todo imposible proporcionarte la información solicitada o llevar a cabo la
      contratación de los servicios.</div>
    <h3>Destinatarios:</h3>
    <div class="text">Los datos no se comunicarán a ningún tercero ajeno a VIDIWISE, salvo obligación legal.</div>
    <h3>Derechos de propiedad intelectual:</h3>
    <div class="text">VIDIWISE es titular de todos los derechos de autor, propiedad intelectual, industrial, "know how"
      y cuantos otros derechos guardan relación con los contenidos del sitio web <a class="bold"
        href="https://app.sideby.com" target="_blank">app.sideby.com</a> y los servicios ofertados en el mismo, así
      como de los programas necesarios para su implementación y la información relacionada.
    </div>
    <div class="text">No se permite la reproducción, publicación y/o uso no estrictamente privado de los contenidos,
      totales o parciales, del sitio web <a class="bold" href="https://app.sideby.com"
        target="_blank">app.sideby.com</a> sin el consentimiento previo y por escrito.
    </div>
    <h3>Protección de la información alojada</h3>
    <div class="text">VIDIWISE realiza copias de seguridad de los contenidos alojados en sus servidores, sin
      embargo no se responsabiliza de la pérdida o el borrado accidental de los datos por parte de los usuarios. De
      igual manera, no garantiza la reposición total de los datos borrados por los usuarios, ya que los citados datos
      podrían haber sido suprimidos y/o modificados durante el periodo del tiempo transcurrido desde la última copia
      de seguridad.</div>
    <h3>Comunicacionees comerciales</h3>
    <div class="text">En aplicación de la LSSI. VIDIWISE no enviará comunicaciones publicitarias o promocionales
      por correo electrónico u otro medio de comunicación electrónica equivalente que previamente no hubieran sido
      solicitadas o expresamente autorizadas por los destinatarios de las mismas.</div>
    <div class="text">En el caso de usuarios con los que exista una relación contractual previa, VIDIWISE sí está
      autorizado al envío de comunicaciones comerciales referentes a productos o servicios de VIDIWISE que sean
      similares a los que inicialmente fueron objeto de contratación con el cliente.</div>
    <div class="text">En todo caso, el usuario, tras acreditar su identidad, podrá solicitar que no se le haga llegar
      más información comercial a través de los canales de Atención al Cliente.</div>
    <h3>Política de cookies</h3>
    <div class="text">Informamos sobre el uso de cookies en: ¿Qué son las cookies?</div>
    <div class="text">Las cookies son archivos que se pueden descargar en su ordenador a través de las páginas web. Son
      herramientas que
      juegan un papel esencial en la prestación de muchos servicios de la sociedad de la información. Entre otros,
      permiten que un
      sitio web almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo y,
      dependiendo de
      la información obtenida, pueden utilizarse para reconocer al usuario y mejorar el servicio ofrecido.</div>
    <div>
      <h5>Tipos de cookies</h5>
      <div class="text">En función de quién sea la entidad que gestione el dominio desde donde se envían las cookies y
        trate los datos obtenidos, se pueden distinguir dos tipos:</div>
      <ul>
        <li>Cookies propias: aquellas que se envían al equipo terminal del usuario desde un equipo o dominio gestionado
          por el propio editor y desde el que se presta el servicio solicitado por el usuario.</li>
        <li>Cookies de terceros: son aquellas que se envían al equipo terminal del usuario desde un equipo o dominio que
          no es gestionado por el editor, sino por otra entidad que trata los datos obtenidos a través de las cookies.
        </li>
      </ul>
      <div class="text">En el caso de que las cookies se instalen desde un equipo o dominio gestionado por el propio
        editor pero la información recabada a través de las mismas es gestionada por un tercero, no podrán ser
        consideradas como cookies propias.</div>
      <div class="text">También existe una segunda clasificación según el plazo de tiempo que permanecen almacenadas en
        el navegador del cliente:</div>
      <ul>
        <li>Cookies de sesión: diseñadas para recoger y almacenar datos mientras el usuario accede a una página web. Se
          suelen utilizar para almacenar información que sólo interesa conservar para la prestación del servicio
          solicitado por el usuario en una sola ocasión (por ejemplo, una lista de productos comprados).</li>.
        <li>Cookies persistentes: los datos permanecen almacenados en el terminal y pueden ser accedidos y tratados
          durante un periodo definido por el responsable de la cookie, que puede ir de unos minutos a varios años.</li>
        <li>Cookies persistentes: los datos permanecen almacenados en el terminal y se puede acceder a ellos y tratarlos
          durante un período definido por el responsable de la cookie.
      </ul>
      <div class="text">Por último, existe otra clasificación con cinco tipos de cookies según la finalidad que se
        tratan los datos obtenidos:</div>
      <ul>
        <li>Cookies técnicas: aquellas que permiten al usuario la navegación a través de una página web, plataforma o
          aplicación y la utilización de las diferentes opciones o servicios que en ella existan como, por ejemplo,
          controlar el tráfico y la comunicación, identificar la sesión, acceder a partes de acceso restringido,
          recordar los elementos que integran un pedido, realizar el proceso de compra de un pedido, realizar la
          solicitud de inscripción o participación en un evento, utilizar elementos de seguridad durante la navegación,
          almacenar contenidos para la difusión de vídeos o sonido o compartir contenidos a través de redes sociales.
        </li>
        <li>
        <li>Cookies de personalización: permiten al usuario acceder al servicio con unas características generales
          predefinidas en función de una serie de criterios en el terminal del usuario, como por ejemplo el idioma, el
          tipo de navegador a través del cual se accede al el que se accede al servicio, la configuración regional desde
          donde se accede al servicio, etc.</li>
        <li>Cookies de análisis: permiten al responsable de las mismas el seguimiento y análisis del comportamiento de
          los usuarios de los sitios web a los que están vinculadas. La información recogida a través de este tipo de
          cookies se utiliza para medir la actividad de los sitios web, aplicación o plataforma y para la elaboración de
          perfiles de navegación de los usuarios de dichos sitios, aplicaciones y plataformas, con el fin de introducir
          mejoras en función del análisis de los datos de uso que hacen los usuarios del servicio.</li>
        <li>Cookies publicitarias: permiten la gestión, de la forma más eficaz posible, de los espacios publicitarios.
        </li>
        <li>Cookies de publicidad comportamental: almacenan información del comportamiento de los usuarios obtenida a
          través de la observación continuada de sus hábitos de navegación, lo que permite desarrollar un perfil
          específico para mostrar publicidad en función del mismo.
        <li>Utilizamos cookies asociadas a Hotjar web tracking and analytics, una empresa con sede en Malta, que permite
          identificar de forma única a identifica a un visitante durante un cuarto de sesión del navegador e indica lo
          que está haciendo durante su visita.</li>
        <li>Cookies de redes sociales externas: se utilizan para que los visitantes puedan interactuar con el contenido
          de diferentes plataformas sociales (facebook, youtube, twitter, linkedIn, etc.) y se generan únicamente para
          los usuarios de estas redes sociales. Las condiciones de uso de estas cookies y la información recopilada está
          regulada por la política de privacidad de la plataforma social correspondiente.</li>
      </ul>
      <h5>Desactivación y eliminación de cookies</h5>
      <div class="text">Tienes la opción de permitir, bloquear o eliminar las cookies instaladas en tu equipo mediante
        la configuración de las opciones del navegador instalado en su ordenador. Al deshabilitar las cookies, es
        posible que algunos de los servicios disponibles dejen de no estén operativos. La forma de desactivar las
        cookies es diferente para cada navegador, pero normalmente se puede hacer desde el menú Herramientas u Opciones.
        También se puede consultar el menú de Ayuda del navegador donde se pueden encontrar instrucciones. El usuario
        puede en todo momento momento elegir qué cookies quiere que funcionen en este sitio web.</div>
      <div class="text">Puede permitir, bloquear o eliminar las cookies instaladas en su equipo mediante la
        configuración de las opciones del navegador opciones del navegador instalado en su ordenador:</div>
      <ul>
        <li>Microsoft Internet Explorer o Microsoft Edge:
          <a href="http://windows.microsoft.com/es-es/windows-vista/Block-or-allow-cookies"
            target="_blank">http://windows.microsoft.com/es-es/windows-vista/Block-or-allow-cookies</a>
        </li>
        <li>Mozilla Firefox: <a
            href="http://support.mozilla.org/es/kb/impedir-que-los-sitios-web-guarden-sus-preferencia"
            target="_blank">http://support.mozilla.org/es/kb/impedir-que-los-sitios-web-guarden-sus-preferencia</a></li>
        <li>Chrome: <a href="https://support.google.com/accounts/answer/61416?hl=es"
            target="_blank">https://support.google.com/accounts/answer/61416?hl=es</a></li>
        <li>Safari: <a href="http://safari.helpmax.net/es/privacidad-y-seguridad/como-gestionar-las-cookies/"
            target="_blank">http://safari.helpmax.net/es/privacidad-y-seguridad/como-gestionar-las-cookies/</a></li>
        <li>Opera: <a href="http://help.opera.com/Linux/10.60/es-ES/cookies.html"
            target="_blank">http://help.opera.com/Linux/10.60/es-ES/cookies.html</a></li>
      </ul>
      <div class="text">Además, también puedes gestionar el almacén de cookies de tu navegador a través de herramientas
        como las siguientes:</div>
      <ul>
        <li>Ghostery: <a href="www.ghostery.com/" target="_blank">www.ghostery.com/</a></li>
        <li>Sus opciones en línea: <a href="www.youronlinechoices.com/es/"
            target="_blank">www.youronlinechoices.com/es/</a></li>
      </ul>
      <h5>Cookies utilizadas en</h5>
      <div class="text">A continuación se identifican las cookies que se están utilizando en este portal, así como su
        tipo y función:</div>
      <ul>
        <li>Utilizamos cookies de Google Analytics para entender cómo llegan los visitantes al sitio y cómo navegan por
          él con el fin de mejorar áreas como la navegación, la experiencia de los usuarios y el marketing.</li>
        <li>Utilizamos cookies con fines funcionales para recordar cualquier configuración que haya realizado, como el
          idioma, la moneda o parámetros similares para proporcionar una mejor experiencia de usuario.</li>
      </ul>
      <h5>Aceptación de la política de cookies</h5>
      <div class="text">VIDIWISE asume que aceptas el uso de cookies. No obstante, muestra información sobre su Política
        de Cookies en la parte inferior o superior de cualquier página del portal con cada inicio de sesión con el fin
        de que sea consciente de ello.</div>
      <div class="text">A la vista de esta información, es posible realizar las siguientes acciones:</div>
      <ul>
        <li>Aceptar las cookies. Este aviso no se volverá a mostrar al acceder a cualquier página del portal.</li>
        <li>Cerrar. El aviso se oculta en la sesión actual</li>.
      </ul>
    </div>
  </div>
  <div *ngIf="lan !== 'es'" class="textContent">
    <h3>PRIVACY AND COOKIES POLICY</h3>
    <h5>Protection of personal data according to the LOPD</h5>
    <div class="text">VIDIWISE, in application of the current legislation on personal data protection, informs that the
      personal data collected through the website forms: are included in the specific automated files of users of
      VIDIWISE’s services.</div>
    <div class="text">The collection and automated processing of personal data is for the purpose of maintaining the
      business relationship and the performance of tasks of information, training, advice and other activities of
      VIDIWISE.</div>
    <div class="text">These data will only be transferred to those entities that are necessary for the sole purpose of
      complying with the aforementioned purpose.</div>
    <div class="text">VIDIWISE takes the necessary measures to ensure the security, integrity and confidentiality of
      data in accordance with the provisions of Regulation (EU) 2016/679 of the European Parliament and of the Council
      of 27 April 2016 on the protection of individuals with regard to the processing of personal data and on the free
      movement of such data.</div>
    <div class="text">The user may at any time exercise the rights of access, opposition, rectification and cancellation
      recognized in the aforementioned Regulation (EU). The exercise of these rights can be made by the user through
      email to: info@VIDIWISE.com.</div>
    <div class="text">The user declares that all the data provided by him/her are true and correct, and undertakes to
      keep them updated, communicating any changes to VIDIWISE.</div>
    <h5>Purpose of personal data processing</h5>
    <div class="text">For what purpose will we process your personal data?</div>
    <div class="text">VIDIWISE will process your personal data collected through the website for the following purposes:
    </div>
    <ul>
      <li>Sending of information requested through the forms available at <a class="bold"
          href="https://app.sideby.com" target="_blank">app.sideby.com</a>
      </li>
      <li>Sending newsletters, as well as commercial communications of promotions and/or advertising of VIDIWISE.</li>
    </ul>
    <div class="text">We remind you that you can object to the sending of commercial communications by any means and at
      any time, by sending an e-mail to the address indicated above.</div>
    <div class="text">The fields of these records are mandatory, being impossible to perform the purposes expressed if
      these data are not provided.</div>
    <h5>How long will the personal data collected be kept?</h5>
    <div class="text">The personal data provided will be kept as long as the business relationship is maintained or you
      do not request its deletion and during the period for which legal liabilities may arise from the services
      provided.</div>
    <h5>Legitimation:</h5>
    <div class="text">The processing of your data is carried out with the following legal bases that legitimize it:
    </div>
    <div class="text">The request for information and/or the contracting of VIDIWISE’s services, whose terms and
      conditions will be made available to you in any case, prior to any eventual contracting.</div>
    <div class="text">Free, specific, informed and unequivocal consent, insofar as we inform you by making this privacy
      policy available to you, which after reading it, if you agree, you can accept by means of a statement or a clear
      affirmative action, such as checking a box provided for this purpose.</div>
    <div class="text">In case you do not provide us with your data or you do it in an erroneous or incomplete way, we
      will not be able to attend your request, making it impossible to provide you with the requested information or to
      carry out the contracting of the services.</div>
    <h5>Target audience:</h5>
    <div class="text">The data will not be communicated to any third party outside VIDIWISE, unless legally obliged to
      do so.</div>
    <h5>Intellectual property rights:</h5>
    <div class="text">VIDIWISE is the owner of all copyrights, intellectual and industrial property rights, know-how and
      any other rights related to the contents of the website and the services offered therein, as well as the programs
      necessary for their implementation and related information.</div>
    <div class="text">The reproduction, publication and/or non strictly private use of the contents, in whole or in
      part, of the website is not permitted without prior written consent.</div>
    <h3>Cookie Policy</h3>
    <div class="text">We inform about the use of cookies at: What are cookies?</div>
    <div class="text">Cookies are files that can be downloaded to your computer through web pages. They are tools that
      play an essential role in the provision of many services of the information society. Among others, they allow a
      website to store and retrieve information about the browsing habits of a user or their equipment and, depending on
      the information obtained, they can be used to recognize the user and improve the service offered.</div>
    <h5>Types of cookies</h5>
    <div class="text">Depending on who is the entity that manages the domain from which the cookies are sent and treats
      the data obtained, two types can be distinguished:</div>
    <ul>
      <li>Own cookies: those that are sent to the user’s terminal equipment from a computer or domain managed by the
        editor itself and from which the service requested by the user is provided.</li>
      <li>Third-party cookies: those that are sent to the user’s terminal equipment from a computer or domain that is
        not managed by the editor, but by another entity that processes the data obtained through cookies.</li>
    </ul>
    <div class="text">In the event that cookies are installed from a computer or domain managed by the editor itself but
      the information collected through these is managed by a third party, they cannot be considered as own cookies.
    </div>
    <div class="text">There is also a second classification according to the length of time that they remain stored in
      the client’s browser:</div>
    <ul>
      <li>Session cookies: designed to collect and store data while the user accesses a web page. They are usually used
        to store information that is only interesting to keep for the provision of the service requested by the user on
        a single occasion (e.g. a list of products purchased).</li>
      <li>Persistent cookies: the data remains stored in the terminal and can be accessed and processed for a period
        defined by the party responsible for the cookie, which can range from a few minutes to several years.</li>
    </ul>
    <div class="text">Finally, there is another classification with five types of cookies according to the purpose for
      which the data obtained are processed:</div>
    <ul>
      <li>Technical Cookies: those that allow the user to navigate through a web page, platform or application and the
        use of the different options or services that exist in it as, for example, control traffic and data
        communication, identify the session, access parts of restricted access, remember the elements that make up an
        order, make the buying process of an order, make the application for registration or participation in an event,
        use security features while browsing, store content for broadcasting videos or sound or share content through
        social networks.</li>
      <li>Personalization cookies: allow the user to access the service with some general characteristics predefined
        according to a series of criteria in the user’s terminal, such as the language, the type of browser through
        which the service is accessed, the regional configuration from which the service is accessed, etc.</li>
      <li>Analysis cookies: these allow the party responsible for them to monitor and analyze the behavior of the users
        of the websites to which they are linked. The information collected through this type of cookies is used to
        measure the activity of the websites, application or platform and for the elaboration of browsing profiles of
        the users of these sites, applications and platforms, in order to introduce improvements based on the analysis
        of the usage data of the users of the service.</li>
      <li>Advertising cookies: allow the management, in the most effective way possible, of advertising spaces.</li>
      <li>Behavioral advertising cookies: store information on user behavior obtained through the continuous observation
        of their browsing habits, which allows the development of a specific profile to display advertising based on it.
      </li>
      <li>We use cookies associated with Hotjar web tracking and analytics, a Malta-based company, which uniquely
        identifies a visitor during a browser session room and indicates what they are doing during their visit.</li>
      <li>Cookies from external social networks: they are used so that visitors can interact with the content of
        different social platforms (facebook, youtube, twitter, linkedIn, etc..) and are generated only for users of
        these social networks. The conditions of use of these cookies and the information collected is regulated by the
        privacy policy of the corresponding social platform.</li>
    </ul>
    <h5>Disabling and deleting cookies</h5>
    <div class="text">You have the option to allow, block or delete cookies installed on your computer by configuring
      the browser options installed on your computer. By disabling cookies, some of the services available may no longer
      be operational. The way to disable cookies is different for each browser, but can usually be done from the Tools
      or Options menu. You can also consult the browser’s Help menu where you can find instructions. The user may at any
      time choose which cookies he/she wants to operate on this website.</div>
    <div class="text">You can allow, block or delete cookies installed on your computer by configuring the browser
      options installed on your computer:</div>
    <ul>
      <li>Microsoft Internet Explorer or Microsoft Edge:
        <a href="http://windows.microsoft.com/es-es/windows-vista/Block-or-allow-cookies"
          target="_blank">http://windows.microsoft.com/es-es/windows-vista/Block-or-allow-cookies</a>
      </li>
      <li>Mozilla Firefox: <a href="http://support.mozilla.org/es/kb/impedir-que-los-sitios-web-guarden-sus-preferencia"
          target="_blank">http://support.mozilla.org/es/kb/impedir-que-los-sitios-web-guarden-sus-preferencia</a></li>
      <li>Chrome: <a href="https://support.google.com/accounts/answer/61416?hl=es"
          target="_blank">https://support.google.com/accounts/answer/61416?hl=es</a></li>
      <li>Safari: <a href="http://safari.helpmax.net/es/privacidad-y-seguridad/como-gestionar-las-cookies/"
          target="_blank">http://safari.helpmax.net/es/privacidad-y-seguridad/como-gestionar-las-cookies/</a></li>
      <li>Opera: <a href="http://help.opera.com/Linux/10.60/es-ES/cookies.html"
          target="_blank">http://help.opera.com/Linux/10.60/es-ES/cookies.html</a></li>
    </ul>
    <div class="text">In addition, you can also manage the cookie store in your browser through tools such as the
      following:</div>
    <ul>
      <li>Ghostery: <a href="www.ghostery.com/" target="_blank">www.ghostery.com/</a></li>
      <li>Your online choices: <a href="www.youronlinechoices.com/es/" target="_blank">www.youronlinechoices.com/es/</a>
      </li>
    </ul>
    <h5>Cookies used in</h5>
    <div class="text">The cookies that are being used in this portal are identified below, as well as their type and
      function:</div>
    <ul>
      <li>We use Google Analytics cookies to understand how visitors arrive at the site and how they navigate the site
        in order to improve areas such as navigation, user experience and marketing.</li>
      <li>We use cookies for functional purposes to remember any settings you have made such as language, currency or
        similar parameters to provide a better user experience.</li>
    </ul>
    <h5>Acceptance of Cookies Policy</h5>
    <div class="text">VIDIWISE assumes that you accept the use of cookies. However, it displays information about its
      Cookie Policy at the bottom or top of any page of the portal with each login in order to make you aware of it.
    </div>
    <div class="text">In view of this information, it is possible to carry out the following actions:</div>
    <ul>
      <li>Accept cookies. This warning will not be displayed again when accessing any page of the portal.</li>
      <li>Close. The warning is hidden in the current session</li>
    </ul>
  </div>
</div>