<!doctype html>
<html lang="en">

<head>
  <style>
  </style>
</head>

<body>
  <div>
    <strong>Nuevo ticket.</strong>
  </div>
  <div>
    <strong>Nombre:</strong> {{userName}} {{userLastName}}
  </div>
  <div>
    <strong>Email:</strong> {{userEmail}}
  </div>
  <div>
    <strong>Teléfono:</strong> {{userPhone}}
  </div>
  <div>
    <strong>USER ID:</strong> {{userId}}
  </div>
  <div>
    <strong>ENTITY ID:</strong> {{entityId}}
  </div>
  <div>
    <strong>Tipo de soporte:</strong> {{type}}
  </div>
  <div>
    <strong>Mensaje:</strong> {{message}}
  </div>
</body>
</html>