:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f7f9;
}

.login-container {
  width: 100%;
  max-width: 400px;
}

.login-card {
  .field {
    margin-bottom: 1.5rem;
  }
}
